<a href="https://colab.research.google.com/github/TABEYWICKRAMA/Python_series_end-to-end/blob/main/Python_Basics_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello world')

Hello world

In [2]:
#multiline strings
print(''' Hi 
            This shows 
                    the code as 
                                we write our code. 
''')

 Hi
            This shows
                    the code as
                                we write our code.

In [3]:
print('thisara\'s python world')

thisara's python world

In [8]:
print("thisara\" s python world")

thisara" s python world

## **String concatination vs String formatting**

In [5]:
#String concatination
first = 'John'
last = 'Smith'
message = first + ' [' + last + '] is a coder.'
print(message)

John [Smith] is a coder.

In [6]:
#String formatting
msg = f'{first} [{last}] is a coder'
print(msg)

John [Smith] is a coder

In [9]:
a = 'Thisara'
b = 'kavishka'

x = f'{a} and {b} are lovers'
print(x)

Thisara and kavishka are lovers

In [13]:
y = f'{"Thisara"} and {"kavishka"} are lovers'  #make sure to use double quotation
print(y)

Thisara and kavishka are lovers

## **power operater**

In [14]:
print(10**3)
#1000

1000

## **Augmented assignment operater**

In [15]:
x=10
x=10+3
x+=3
print(x)

16

## **Comments**

In [17]:
# This is a single line comment

In [20]:
# this is a 
#             multiline
#                       comment

## **Upper() Lower() isUpper() isLower()**

In [21]:
a = "thisara"
b = 'THISARA'

print(a.upper())

print(b.lower())

print(a.islower())

print(b.isupper())

THISARA
thisara
True
True

## **Replace()**

In [22]:
print(a.replace("t", "k"))

khisara

## **Split()**

In [23]:
x = "hello,world"
print(x.split(","))

['hello', 'world']

## **INDEXES**

In [25]:
a = "thisara"
b = 'THISARA'

print(a[0])
print(b[2])
print(a[0:3])  # printing characters indexes 0, 1, 2 only

t
I
thi

## **Strip() Function**
### This removes empty spaces

In [26]:
t = '                   thisara               '
print(t.strip())

thisara

In [27]:
x = "thisara "
print(x*10)

thisara thisara thisara thisara thisara thisara thisara thisara thisara thisara

## **Conditional Statements**

In [28]:
x = 7

if x>9:
    print("x is %s" %x)
else:
    print("x is lower than 9")
    print("x is %d" %x)

x is lower than 9
x is 7