<a href="https://colab.research.google.com/github/TABEYWICKRAMA/Python_series_end-to-end/blob/main/Python_Basics_V3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello world')

Hello world

In [2]:
#multiline strings
print(''' Hi 
            This shows 
                    the code as 
                                we write our code. 
''')

 Hi
            This shows
                    the code as
                                we write our code.

In [3]:
print('thisara\'s python world')

thisara's python world

In [8]:
print("thisara\" s python world")

thisara" s python world

## **String concatination vs String formatting**

In [5]:
#String concatination
first = 'John'
last = 'Smith'
message = first + ' [' + last + '] is a coder.'
print(message)

John [Smith] is a coder.

In [6]:
#String formatting
msg = f'{first} [{last}] is a coder'
print(msg)

John [Smith] is a coder

In [9]:
a = 'Thisara'
b = 'kavishka'

x = f'{a} and {b} are lovers'
print(x)

Thisara and kavishka are lovers

In [13]:
y = f'{"Thisara"} and {"kavishka"} are lovers'  #make sure to use double quotation
print(y)

Thisara and kavishka are lovers

In [56]:
name = input("Enter name: ")
colour = input("Colour : ")
print(name + " likes " + colour)

Enter name: thisara
Colour : black
thisara likes black

## **power operater**

In [14]:
print(10**3)
#1000

1000

## **Augmented assignment operater**

In [15]:
x=10
x=10+3
x+=3
print(x)

16

## **Comments**

In [17]:
# This is a single line comment

In [20]:
# this is a 
#             multiline
#                       comment

## **Upper() Lower() isUpper() isLower()**

In [21]:
a = "thisara"
b = 'THISARA'

print(a.upper())

print(b.lower())

print(a.islower())

print(b.isupper())

THISARA
thisara
True
True

## **Replace()**

In [22]:
print(a.replace("t", "k"))

khisara

## **Split()**

In [23]:
x = "hello,world"
print(x.split(","))

['hello', 'world']

## **INDEXES**

In [25]:
a = "thisara"
b = 'THISARA'

print(a[0])
print(b[2])
print(a[0:3])  # printing characters indexes 0, 1, 2 only

t
I
thi

## **Strip() Function**
### This removes empty spaces

In [26]:
t = '                   thisara               '
print(t.strip())

thisara

## **Round()**

In [58]:
x = -2.8
print(round(x))

y = 5.3
print(round(y))

-3
5

In [27]:
x = "thisara "
print(x*10)

thisara thisara thisara thisara thisara thisara thisara thisara thisara thisara

## **Conditional Statements**

In [28]:
x = 7

if x>9:
    print("x is %s" %x)
else:
    print("x is lower than 9")
    print("x is %d" %x)

x is lower than 9
x is 7

## **Get Keyboard Inputs (integer)**

In [42]:
x = int(input("Enter your marks: "))

Enter your marks: 56

## **Get Keyboard Inputs (characters)**

In [38]:
x = input("Enter your name: ")

Enter your name: thisara

## **Get Keyboard Inputs (float)**

In [40]:
x = float(input("Enter your name: "))

Enter your name: 45.67895

## **elif()**

In [47]:
mark1 = float(input("Enter marks of maths: "))

mark2 = float(input("Enter marks of science: "))

if (mark1 + mark2)/2 <= 45:
     print("fail")
elif (mark1 + mark2)/2 >= 75:
     print("A")
elif (mark1 + mark2)/2 <= 65:
     print("B")
elif (mark1 + mark2)/2 <= 55:
     print("C")

Enter marks of maths: 60
Enter marks of science: 66
B

## **Nested if else statements**

In [51]:
x = int(input("Please Enter a number: "))

if x <0:
    print("number is negative")
else:
    print("number is positive")
    if(x%2==0):
        print("number is even")
    else:
        print("number is odd")

Please Enter a number: 7
number is positive
number is odd

## **List()**

*   Lists are used to store multiple items in a single variable.

*   List items are ordered, changeable, and allow duplicate values.

*   List items are indexed, the first item has index [0], the second item has index [1]

*   Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [54]:
Item1 = "bread"
Item2 = "cheese"
Item3 = "drinks"
Item4 = "fruits"

Items =["bread", "cheese", "drinks", "drinks", "fruits"]

print(Items[0])

print(Items[0:3])

print(Items[-1])

Items.append("butter")

print(Items)

Items.insert(1,"coke")
print(Items)

bread
['bread', 'cheese', 'drinks']
fruits
['bread', 'cheese', 'drinks', 'drinks', 'fruits', 'butter']
['bread', 'coke', 'cheese', 'drinks', 'drinks', 'fruits', 'butter']